
@*@{
    ViewBag.Title = "Palindroom";
}

<h2>Palindroom</h2>*@

<h2>Palindroom</h2>
@ViewBag.ingetiktWoord<text> is </text>
@if (ViewBag.palindroom == true)
{
    <text> een </text>
}
else
{
    <text> geen </text>
}
palindroom.

